html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-font-family: 'Roboto', sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-background-color: #2f303a;
  --icon-color: #afb1b8;
  --margin-gap: 30px;
  --padding-gap: 94px;
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
}

/* In all pages */

.page {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.visually-hidden {
  padding: 0;
  margin: -1px;
  border: 0;
  width: 1px;
  height: 1px;

  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.part-logo,
.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus,
.footer-item > .link:focus,
.footer-item > .link:hover {
  color: var(--accent-color);
}

/* ========== Header ========== */

.page-header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  margin-right: 93px;

  color: var(--title-text-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* ========== Nav ========== */

.site-nav {
  display: flex;
}

.site-nav .item + .item,
.contact-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--animation);
}
.current {
  position: relative;
}
.current::after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: '';
  display: block;
  width: 100%;
  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;
}

.contact-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--animation);
}

.contact-mail,
.contact-phone {
  margin-right: 10px;
  fill: currentColor;
}

/* ========== Hero ========== */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.hero-overlay {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* ========== Buttons ========== */

.button {
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;

  text-align: center;
  font-size: 16px;
}

.hero-button {
  margin-bottom: 0;
  padding: 10px 32px;

  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  transition: background-color 250ms var(--animation);
}

.hero-button:focus,
.hero-button:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter-btn {
  padding: 6px 22px;
  text-align: center;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;

  transition: background-color 250ms var(--animation), color 250ms var(--animation),
    box-shadow 250ms var(--animation);
}

.filter-btn:focus,
.filter-btn:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ========== Modal ========== */

.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--animation);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 530px;
  min-height: 585px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--animation);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  fill: var(--title-text-color);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transform: rotate(0);
}

.modal-close:hover {
  fill: var(--accent-color);
  border-color: none;

  transform: rotate(90deg);
  transition: transform 500ms var(--animation);
}

/* ========== Feature ========== */

.feature {
  padding-top: var(--padding-gap);
  padding-bottom: var(--padding-gap);
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
}
.feature-item {
  width: 270px;
  margin-right: var(--margin-gap);
}
.feature-item:last-child {
  margin-right: 0;
}

.feature-bgd {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;

  border-radius: 4px;
  margin-bottom: var(--margin-gap);
  background-color: var(--secondary-background-color);
}

.feature .section-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-desc {
  line-height: 1.71;
}

/* ========== Work ========== */

.work {
  padding-bottom: var(--padding-gap);
  text-align: center;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  margin-right: var(--margin-gap);
}

.work-item:last-child {
  margin-right: 0;
}

.work-item {
  position: relative;
}
.work-dsc {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  height: 70px;
  width: 100%;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
.work-title,
.teams-title,
.client-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
}

/* ========== Team ========== */

.team {
  padding-top: var(--padding-gap);
  padding-bottom: var(--padding-gap);
  background-color: var(--secondary-background-color);
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  margin-right: var(--margin-gap);

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
  margin-right: 0;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-desc {
  font-size: 16px;
  line-height: 1.18;
}

.links {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 0 32px 30px;
}
.social-item {
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);

  transition: color 250ms var(--animation), background-color 250ms var(--animation);
}

.social-link:hover,
.social-link:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* ========== Clients ========== */

.client {
  padding-top: var(--padding-gap);
  padding-bottom: 85px;

  text-align: center;
}
.client-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}
.client-item + .item {
  margin-left: var(--margin-gap);
}

.company-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--icon-color);

  transition: fill 250ms var(--animation), border-color 250ms var(--animation);
}

.company-link:focus,
.company-link:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* ========== Footer ========== */

.footer {
  background-color: var(--accent-background-color);
  font-style: normal;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.footer-logo {
  margin-bottom: 20px;
  margin-right: 0;

  color: var(--primary-white-color);
}

.footer-item.item {
  margin-bottom: 9px;
}

.footer-item.item:last-child {
  margin-bottom: 0;
}

.link-address.link {
  color: var(--primary-white-color);
  line-height: 1.71;
  font-style: normal;

  transition: color 250ms var(--animation);
}

.link.footer-contact {
  margin-bottom: 9px;

  font-style: normal;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--animation);
}

.footer-social-links {
  margin-left: 70px;
}
.footer-dsc {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-transform: uppercase;
}

.footer-links {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);

  transition: background-color 250ms var(--animation);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}

/* ========== Portfolio Filter section ========== */

.filter {
  padding-top: var(--padding-gap);
  padding-bottom: var(--padding-gap);
}
.container {
  margin-left: auto;
  margin-right: auto;
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .item + .item {
  margin-left: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-gap));
  margin-top: calc(-1 * var(--margin-gap));
}

.portfolio-item {
  width: calc(100% / 3 - 30px);
  margin-left: var(--margin-gap);
  margin-top: var(--margin-gap);

  background-color: var(--primary-white-color);
}

.card-link {
  display: block;
}
.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-content {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.card-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-desc {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.875;
}
.card-thumb {
  position: relative;
  overflow: hidden;
}
.card-overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transform: translateY(100%);
  transition: transform 250ms var(--animation);
}

.card-link:hover .card-overlay {
  transform: translateY(0);
}

.overlay-text {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}
